<div class="well jumbotron">

        <h2>October releases</h2>
        <%= image_tag("shamelesstheft2.png") %>

</div>
 <div id="posts">
   <%= render @posts %>
 </div>

 <%= will_paginate @posts %>


