<%= render partial: "featured", object: @featured %>

<% if @tag %>
    <div class="well" style="padding: 0 0 0 0"><h1 style="letter-spacing: -2px; font: normal 4.5em 'Trebuchet MS', Tahoma, Helvetica, Arial, sans-serif; color: #000000 ;text-align:
            center; text-shadow: 1px 1px 6px #646662;"><span ><%= @tag %></span> </h1></div>
    <% end %>
 <div id="posts">
   <%= render @posts %>
 </div>

 <%= will_paginate @posts %>


