<div class="well jumbotron">
    <div class="container">
        <h2>October releases</h2>
        <%= image_tag("shamelesstheft2.png", :alt => "rss feed") %>
    </div>
</div>
 <div id="posts">
   <%= render @posts %>
 </div>

 <%= will_paginate @posts %>


