/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require mediaelement_rails
 *= require_self
 *= require_tree .
 */

html, body {
    height: 100%;
    background: url('binding_dark.png') repeat;
}

footer {
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
    background-color:#1b1b1b;background-image:-moz-linear-gradient(top, #222222, #111111);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));background-image:-webkit-linear-gradient(top, #222222, #111111);background-image:-o-linear-gradient(top, #222222, #111111);background-image:linear-gradient(to bottom, #222222, #111111);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);border-color:#252525;
}
footer a {
    color: #999;
}
footer a:hover {
    color: #efefef;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
    background: url('binding_dark.png') repeat;
}
.push {
    height: 63px;
}
/* not required for sticky footer; just pushes hero down a bit */
.wrapper > .container {
    padding-top: 60px;
}

#logo  {
    height: 100px;
    float: left;
    padding-right: 10px;
}

.sidebar-nav-fixed {
    position:fixed;
    padding-top:60px;

}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        position:static;
        width: auto;
    }
}

.firstad { height: 50px; }
@media(max-width: 100px) { .firstad { width: auto; height: 60px; } }
@media(max-width: 100px) { .firstad { width: auto; height: 90px; } }


.slidingMenu {
    position: relative;
    height:550px;
    right:50px;
    font-family: Arial, Helvetica, sans-serif;
}

.slidingMenu li {
    display:block;
    float:left;
    clear:both;
    position:relative;
    overflow:hidden;
}

.slidingMenu li.move {
    width: 9px;
    height: 68px;
    right:0px;
    padding-right:10px;
    margin-top:2px;
    z-index: 8;
    position: relative;
    background: #2183c4;
    background:
        -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#0771b8),
            to(#2183c4)
        );
    background:
        -moz-linear-gradient(
            top,
            #0771b8,
            #2183c4
        );
    -moz-border-radius: 8px 0px 0px 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-box-shadow:1px 1px 5px #000;
    -webkit-box-shadow:1px 1px 5px #000;
    box-shadow:1px 1px 5px #000;
}

.nav li a:hover{
        background: #4e4e4e;
    background:
        -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#4e4e4e),
            to(#646662)
        );
    background:
        -moz-linear-gradient(
            top, #4e4e4e, #646662
        );

    -moz-box-shadow:1px 1px 5px #000;
    -webkit-box-shadow:1px 1px 5px #000;
    box-shadow:1px 1px 5px #000;
}

.slidingMenu li a:hover {
    background: #4e4e4e;
    background:
        -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#4e4e4e),
            to(#646662)
        );
    background:
        -moz-linear-gradient(
            top, #4e4e4e, #646662
        );
    -moz-border-radius: 8px 0px 0px 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -moz-box-shadow:1px 1px 5px #000;
    -webkit-box-shadow:1px 1px 5px #000;
    box-shadow:1px 1px 5px #000;
}

.slidingMenu li a {
    font-size:40px;

    text-decoration: none;
    color: #ddd;
    outline: none;
    text-indent:-2px;
    z-index: 10;
    display: block;
    float: left;
    height: 66px;
    line-height: 66px;
    position: relative;
    overflow: hidden;
           padding-right: 10px;
    padding-left:10px;
    transition: margin-left ease-in-out 500ms;
    -webkit-transition: margin-left ease-in-out 500ms;
    -moz-transition: margin-left ease-in-out 500ms;
}

.span6{
    padding-top: 60px;
}

.form-group{
    padding-top: 10px;
}

.back-to-top {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #666;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-weight: bolder;
    font-size: 1.2em;
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    background-color: rgba(235, 235, 235, 0.80);
    padding: 1em;
    display: none;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
    color: #000;
    text-decoration: none;
}

#leftmenu-first{
color: #A197CA;
}

#leftmenu-second{
    color: #96D6DC
}

#leftmenu-third{
    color: #9FD18D
}

#leftmenu-fourth{
    color: #B0B666
}

#leftmenu-fifth{
    color: #D5A678
}

#leftmenu-sixth{
    color: #CF8172;
}

.up-icon{
    height:18px;
    width:18px;
    padding-bottom:2px;
}

.header-twitter{
    width:18px;
    height:18px;
    padding-right:20px;
    padding-top:10px;
}

.menu-twitter{
    width:18px;
    height:18px;
    padding-left:10px
}

