/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require mediaelement_rails
 *= require_self
 *= require_tree .
 */

html, body {
    height: 100%;
    background: url('binding_dark.png') repeat;
}

footer {
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
    background-color:#1b1b1b;background-image:-moz-linear-gradient(top, #222222, #111111);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));background-image:-webkit-linear-gradient(top, #222222, #111111);background-image:-o-linear-gradient(top, #222222, #111111);background-image:linear-gradient(to bottom, #222222, #111111);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);border-color:#252525;
}
footer a {
    color: #999;
}
footer a:hover {
    color: #efefef;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
    background: url('binding_dark.png') repeat;
}
.push {
    height: 63px;
}
/* not required for sticky footer; just pushes hero down a bit */
.wrapper > .container {
    padding-top: 60px;
}

#logo  {
    height: 100px;
    float: left;
}


.sidebar-nav-fixed {
    position:fixed;
    top:300px;
    width:15.97%;
}

@amedia (max-width: 767px) {
    .sidebar-nav-fixed {
        position:static;
        width:auto;
    }
}

@amedia (max-width: 979px) {
    .sidebar-nav-fixed {
        top:70px;
    }
}

.firstad { height: 50px; }
@media(max-width: 100px) { .firstad { width: auto; height: 60px; } }
@media(max-width: 100px) { .firstad { width: auto; height: 90px; } }

