// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#main {
  //float: left;
  //width: 545px;
  //padding: 0; margin: 0;
  //display: inline;
}
#main h2 {
  padding-bottom: 3px;
  margin-top: 15px;
  font: normal 3.5em 'Trebuchet MS', Tahoma, Helvetica, Arial, sans-serif;
  color: #070707;
  letter-spacing: -2px;
  text-transform: none;
}
#main h2 a {
  color: #070707;
  text-decoration: none;
  border: none;
}
#main ul li {
  list-style-image: url(bullet.gif);
}

.postmeta {
  padding: 7px 5px; margin: 20px 10px 15px 10px;
  font-size: 1em;
  color: #545454;

  text-align: right;
}

.post-content{
  padding-top: 20px;
}

.postmeta a.readmore { margin: 0 10px 0 5px;	}


.post-info { font-size: .95em; padding-top: 3px; margin-left: 5px; color: #444;	}
.post-info a { color: #BD4200; }
.post-image {max-height: 400px}


.mejs-container{
  background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

.edit-well{
  background-color: #696969;
}

